.wrapper{
    height: 1000px;
    width: 1920px;
    background-repeat:no-repeat ;
    background-size:1920px;
    background-image: url("https://i.imgur.com/iQpAk4G.png");
    padding: 0;
    margin: 0;
    box-shadow: none;
    position: relative;
    
}
.all{
    background-repeat: no-repeat;
    display: grid;
}
.NavBar{
    width: 535px;
    height: 75px;
    position: relative;
    left:1065px;
    top: 30px;
}

.NavBar ul{
    list-style: none;

}
.NavBar ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.45s;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    
}


.NavBar ul li a:hover{
    color: gray;
} 
.NavBar ul li{
    padding: 60px 25px 15px 25px;
    display: inline;
    color: white;
    font-weight: 300;
    text-decoration: none;
    border-radius: 0px 0px 5px 5px;
    
}
.listcomp1{
    background-color: #74c7d5;
    
}  

body{
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    overflow-y:hidden;
}

.preview{
    height: 250px;
    width: 995px;
    border-radius: 5px;
    background-color: rgba(233, 236, 235, 0.4);
    position: relative;
    left:467px;
    top:343px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.previewFirst{
    position: relative;
    color: #49bdd1;
    font-size: 85px;
    line-height: 15%;
    padding: 0;
    margin: 0;
    text-align: right;
    left: 30px;
    
}
.previewSecond{
    position: relative;
    color: #49bdd1;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 115px;
    line-height: 0%;
    bottom: 20px;
    left: 70px;
}
.previewFirst p:first-child{
    text-transform: uppercase;
}