.wrapper{
    margin: 0 auto;
    height: 1000px;
    width: 1600px;
    background-image: url("https://i.imgur.com/iQpAk4G.png");
}
.all{
    background-repeat: no-repeat;
    display: grid;
}
.NavBar{
    width: 535px;
    height: 75px;
    position: relative;
    left:865px;
    top: 30px;
}

.NavBar ul{
    list-style: none;

}
.NavBar ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    
}
.NavBar ul li:hover{
    background-color: #74c7d5;
} 
.NavBar ul li{
    padding: 60px 25px 15px 25px;
    display: inline;
    color: white;
    font-weight: 300;
    text-decoration: none;
    border-radius: 0px 0px 5px 5px;
    transition: background-color 0.25s;
} 

body{
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    overflow-y:hidden;
}
